.coding_detail_container{
  position: relative;
  height: 100vh;
  .assignment_coding{
    --footerHeight: 60px;
    display: flex;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: var(--footerHeight);
    background: #ffffff;
    color: #000000;
    .question_disc{
      flex-grow: 1.2;
    }
    .editor_container{
      flex-grow: 2;
    }
  }
}
