.BasicInformation,
.contact {
  background: #fff;
  width: 47.1vw;
}

.BasicInformationCaption,
.contactTitle {
  border-bottom: 1px solid #ddd;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BasicInformationCaption>p,
#contact {
  width: 80%;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 2.8;
}

#contact {
  width: 100%;
}

.BasicInformationCaption>button {
  padding: .3rem 2rem;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  background-color: #25bb9b;
  border: none;
  cursor: pointer;
}

.BasicInformationList,
.contactList {
  margin-top: 2%;
}

#contact::before {
  background: #00b473;
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-right: 5px;
  margin-bottom: 2px;
  vertical-align: middle;
}

.BasicInformationList>dl dt,
.contactList>dl dt {
  float: left;
  width: 15%;
  text-align: right;
  line-height: 2.8;
}

.BasicInformationList>dl dd,
.contactList>dl dd {
  margin-left: 20%;
  line-height: 2.4;
  color: #999;
  font-size: 1rem;
  border: 1px solid transparent;
  min-height: 6vh;
}

.BasicInformationList>dl dd>input {
  padding-left: 1%;
  border: 1px solid #ddd;
  width: 80%;
  color: #000;
}