.module{
  display: flex;
  width: 44vw;
}
.module-title{
  font-size: 1rem;
  font-weight: 600;
  padding: 1vh 0 1vh 1vw;
  background: #f6f6f6;
}
.module-details{
  display: flex;
  padding: 2vh 1vw 2vh 1.5vw;
}
.module-right{
  padding-right: 2vw;
  width: 50%;
}

.module-right>span,
.module-wrong>span,
.module-title>span{
padding-left: .5vw;
vertical-align: middle;
}

.module-right>img,
.module-wrong>img,
.module-icon
{
  width: 30px;
}
.personCenter-competition,
.personCenter-practice{
  width: 50%;
  border: 1px solid #ddd;
  margin: 2% 5%;
  cursor: pointer;
}
.module-title:hover{
  color: #22ae90;
}