.SlideBarList{
  background-color: #fff;
  width: 15vw;
  font-size: 16px;
  vertical-align: middle;
  margin-right: 2vw;
  border: 1px solid #ddd;
}
.SlideBarList ul{
  margin-bottom: 0
}
.SlideBarList ul li{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1vh 1vw;
}
.SlideBarList ul li:hover{
  background: #f6f6f6;
  color: #25bb9b;
}

.SlideBarList img{
  width: 30px;
  margin-right: 8%;
}

.ActiveColor{
  background: #f6f6f6;
  color: #25bb9b;
}