.coding_home_container{
  .question_list_container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
}