.assignment_coding_container{
  --footerHeight: 60px;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #ffffff;
  color: #000000;
  .assignment_coding{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: var(--footerHeight);
    .question_disc{
      flex-grow: 1.2;
    }
    .editor_container{
      flex-grow: 2;
    }
  }
  .footer_menu{
    height: var(--footerHeight);;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 1.5em;
  }
}
