.question_list {
  display: inline-block;
  .list_content {
    .list_table{
      .table_header_wrapper{
        border-bottom: 1px solid #eeeeee;
        .list_table_head{
          span {
            line-height: 40px;
            margin: 0 24px;
            font-weight: 400;
            text-shadow: 0 0 .5px #000000;
            &:nth-of-type(2){
              display: inline-block;
              width: 300px;
            }
          }
        }
      }
      .list_body_wrapper {
        height: 0;
        padding-bottom: 400px;
        overflow: hidden;
        .list_row{
          padding: 8px 0;
          border-radius: 2px;
          &:nth-of-type(odd) {
            background-color: #fafafa;
          }
          &:last-of-type {
            border-bottom: 1px solid #aaaaaa;
            position: relative;
          }
          &:hover{
            background-color: #ecf0f1;
          }
          span{
            margin: 0 22px;
            display: inline-block;
            &.item_title{
              transition: color .3s;
              cursor: pointer;
              &:hover{
                color: #2F54EB;
              }
            }
            &:nth-of-type(1){
              width: 80px;
              margin: 0;
              text-align: center;
            }
            &:nth-of-type(2){
              width: 300px;
            }
            &:nth-of-type(3) {
              font-size: 12px;
              border: 1px solid #5cb85c;
              padding: 3px 10px;
              border-radius: 16px;
              color: #ffffff;
            }
          }
        }
        .void {
          text-align: center;
          line-height: 160px;
          .iconfont {
            font-size: 24px;
          }
        }
      }
    }
  }
}