.Homelist>ul{
  display: flex;
  width: 100vw;
}
.Homelist>ul li{
  margin: auto;
}
.Homelist>ul li>img{
  width: 100%;
  cursor: pointer;
  text-align: center
}
.Homelist p{
  text-align: center;
  cursor: pointer;
  margin-bottom: 0; 
  font-size: 2rem;
}
.Homelist .tag{
  margin-top: 2vh;
}
.Homelist .dec{
  font-size: 2rem;
  margin-top: 1vh;
}
