.Homelist{
  animation: HomeScale 1s  forwards cubic-bezier(0, -0.02, 1, 0);
}
.Homelist>ul{
  display: flex;
  width: 100vw;
}
.Homelist>ul li{
  margin: auto;
  cursor: pointer;
  transition: all 0.4s;
}
.Homelist>ul li:hover{
  transform: scale(1.1)
}
.Homelist>ul li>img{
  width: 100%;
  text-align: center
}
.Homelist p{
  text-align: center;
  margin-bottom: 0; 
  font-size: 2rem;
  color: rgba(255,255,255,0.75)
}
.Homelist .tag{
  margin-top: 2vh;
}
.Homelist .dec{
  font-size: 2rem;
  margin-top: 1vh;
}
@keyframes HomeScale {
  0%{
    transform: scale(0)
  }
  75%{
    transform: scale(1.1)
  }
  100%{
    transform: scale(1)
  }
}
