.Home {
  display: flex;
  align-items: center;
  height: 100vh;
}

.HomeLogin {
  width: 100%;
}

.HomeLoginCaption {
  text-align: center;
}

.HomeLoginCaption>p {
  font-size: 2rem;
  margin-bottom: 0;
}

#beginBtn {
  font-size: 1rem;
  margin-top: 2%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.75);
  color: #fff;
  line-height: 2.8;
  padding: 0 111px;
  border: none;
  opacity: 0.75;
  position: relative;
}

#beginBtn::before {
  position: absolute;
  content: "";
  background: #7fc08e;
  transition-duration: 0.5s;
  z-index: -1;
  top: 0px;
  left: auto;
  bottom: auto;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
}

#beginBtn:hover::before {
  width: 0px;
  height: 100%;
  opacity: 1;
}

#beginBtn:hover {
  background: rgba(255,255,255,0.75);
  color:#000;
  transition: all 0.5s ease 0s;
}

.LoginInput,
.unregisteredInput {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3;
}
.unregisteredInput img{
  width:2vw;
  margin-top: 2vh;
  animation: changeLogin .3s forwards linear;
  cursor: pointer;
}

@keyframes changeLogin{
  0%{
    width: 0;
  }
  100%{
    width: 2vw;
  }
}

.LoginInput>input,
.unregisteredInput>input {
  margin-top: 2%;
  padding-left: 1%;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.75);
  width: 306px;
  display: inline-block;
  border: none;
  line-height:2.5
}

.LoginInputActive {
  background-color: rgb(232, 240, 254) !important;
  background-image: none !important;
  color: rgb(0, 0, 0) !important;
}

#HomeLogin {
  font-size: 1rem;
  margin-top: 2%;
  cursor: pointer;
  line-height: 2.7;
  padding: 0 146px;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  overflow: hidden;
  position: relative;
  transition: all 0.6s;
}

#HomeLogin:before {
  content: '';
  position: absolute;
}

#HomeLogin:after {
  content: '';
  background-color: #7fc08e;
  width: 200%;
  height: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: all 0.3s;
  z-index: -1;
  opacity: 0.75;
}

#HomeLogin:hover {
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0.75)
}

#HomeLogin:hover:after {
  height: 610%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.HomeLoginBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10%;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.75);
  animation: HomeTranslatebottom .5s forwards ease-in-out;
}

.HomeLoginBox>p {
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.HomeBegin>p {
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);

}

.LoginActive {
  border-bottom-color: aquamarine !important
}

.slick-list {
  height: 100vh !important
}

.LoginNarrow {
  animation: Homenarrow 1s forwards cubic-bezier(0, -0.02, 1, 0);
}

.Home-beginAnimation {
  animation: HomeTranslateTop .5s forwards ease-in-out;
}

.unregisteredInput{
  animation: HomeslideUp .3s forwards linear;
}

@keyframes HomeslideBottom{
  0%{
    transform: translateY(0)
  }
  100%{
    transform: translateY(50px)
  }
}

@keyframes HomeslideUp{
  0%{
    transform: translateY(50px)
  }
  100%{
    transform: translateY(0)
  }
}

@keyframes HomeTranslateTop {
  0% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(-100%)
  }
}

@keyframes HomeTranslatebottom {
  0% {
    transform: translateY(-100%)
  }

  100% {
    transform: translateY(0)
  }
}

@keyframes HomeslideOut {
  0% {
    transform: translateX(-100%)
  }

  100% {
    transform: translateX(0)
  }
}

@keyframes Homenarrow {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.2)
  }

  100% {
    transform: scale(0)
  }
}