.CompetitionTopicList{
  border: 1px solid #ddd;
  box-shadow: 2px 3px 20px 2px #ddd;
  min-height: 80vh;
  margin: 3vh 0;
}
.CompetitionTopicTitle{
  min-height:10vh;
}
.CompetitionTopicDescription{
  min-height: 30vh;
}
.CompetitionTopicDescription>div{
  background: #e6f7ff;
  margin:1vw;
  min-height: 28vh;
}
.CompetitionTopicDescription>div>p{
  padding:1vw;
  font-size:1.1rem;
  word-wrap:break-word;
}
.CompetitionTopicOption{
  min-height: 50vh;
}
.CompetitionTopicOption>div{
  padding: 1vw;
}
.CompetitionTopicOption>div>p{
  line-height: 2;
  font-size:1.3rem;
  padding: 0 1vw;
  border:1px solid #ddd;
  border-radius:25px;
  width:100%;
  word-wrap:break-word;
}
.CompetitionTopicOption>div>p:hover{
  color:#1890ff;
  cursor:pointer;
}
.CompetitionTopicSelect{
  min-height:10vh;
}