.editor_container{
  width: 50%;
  height: 100vh;
  font-family: dm, Menlo, Monaco, "Courier New", monospace;
  .line-numbers{
    color: #666666 !important;
  }
  .current-line ~ .line-numbers{
    color: #eeeeee !important;
  }
  .current-line{
    background-color: #000000 !important;
  }
}