.CompetitionSerialNumber {
  .CompetitionSerialNumberList {
    margin-top: 5vh;

    .CompetitionSerialNumberProgramming {
      margin-top: 3vh;
    }

    h4{
      margin-bottom: 1em;
    }

    .ant-col-5 {
      font-size: 1.3rem;
      width: 8vh;
      line-height: 8vh;
      text-align: center;
      border: 1px solid #ddd;
      word-spacing: 0.3rem;
    }

    .serialNumberSelected {
      border-color: #1890ff;
      color: #1890ff;
      margin: 0 0 -1px -1px;
    }
  }
}